/* styles.module.css */

.btn-gradient {
  background: linear-gradient(to right, #f12711, #f5af19);
  border: none;
  color: white;
  padding: 4px 4px 4px 4px;
}

.main {
  background-color: #f0f0f0;
}